<div class="col-xs-10 col-xs-offset-1">
  <h2 class='header'><%= @carrier.name %> - MC:<%= @carrier.MCNumber %> </h2>

  <h2 class='header'>Load Summary</h2>

  <div class="summary col-xs-12">
    <div class="col-xs-6">
      Delivery Success Rate
    </div>
    <div class="col-xs-6">
      <%= number_to_percentage(@stats.success_rate * 100, precision: 0) %>
    </div>
    <div class="col-xs-6">
      Has Load In Transit?
    </div>
    <div class="col-xs-6">
      <%= @stats.in_transit %>
    </div>
  </div>


  <h2 class='header'>Load History</h2>
  <% @loads.each do |l| %>
    <div class="">
      <div class=" load-data col-xs-12">
        <div class="state col-xs-6">Load Status</div>
        <div class="state col-xs-6"><%= l.state %></div>
        <div class="state col-xs-12"><h4>Origin</h4></div>
        <div class="state col-xs-6">Pickedup On</div>
        <div class="state col-xs-6"><%= l.origin["scheduledStart"].to_date %></div>
        <div class="state col-xs-6">Street</div>
        <div class="state col-xs-6"><%= l.origin["street1"] %></div>
        <div class="state col-xs-6">City</div>
        <div class="state col-xs-6"><%= l.origin["city"] %></div>
        <div class="state col-xs-6">State</div>
        <div class="state col-xs-6"><%= l.origin["state"] %></div>
        <div class="state col-xs-6">Zip</div>
        <div class="state col-xs-6"><%= l.origin["zipcode"] %></div>

        <div class="state col-xs-12"><h4>Destination</h4></div>
        <div class="state col-xs-6">Delivered On</div>
        <div class="state col-xs-6"><%= l.destination["scheduledStart"].to_date %></div>
        <div class="state col-xs-6">Street</div>
        <div class="state col-xs-6"><%= l.destination["street1"] %></div>
        <div class="state col-xs-6">City</div>
        <div class="state col-xs-6"><%= l.destination["city"] %></div>
        <div class="state col-xs-6">State</div>
        <div class="state col-xs-6"><%= l.destination["state"] %></div>
        <div class="state col-xs-6">Zip</div>
        <div class="state col-xs-6"><%= l.destination["zipcode"] %></div>
      </div>
    </div>
  <% end %>
</div>









