<div class="row">
  <div class="col-md-4">
    <h1>Load ID: #<%= load.loadId %> </h1>
  </div>
  <div class="col-md-4">
    <h1>Origin</h1>
  </div>
  <div class="col-md-4">
    <h1>Destination</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <table class="table table-striped table-hover">
      <tr>
        <td>ID</td>
        <td>
          <%= load.loadId %>
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td>
          <%= load.state %>
        </td>
      </tr>
      <tr>
        <td>Shipper</td>
        <td>
          <%= load.shipper %>
        </td>
      </tr>
      <tr>
        <td>Picked Up At</td>
        <td>
          <%= load.pickedUpAt %>
        </td>
      </tr>
      <tr>
        <td>Delivered At</td>
        <td>
          <%= load.deliveredAt %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-striped table-hover">
      <tr>
        <td>Scheduled Start</td>
        <td>
          <%= load.origin['scheduledStart'] %>
        </td>
      </tr>
      <tr>
        <td>Street</td>
        <td>
          <%= load.origin['street1'] %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= load.origin['city'] %>
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td>
          <%= load.origin['state'] %>
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td>
          <%= load.origin['zipcode'] %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-striped table-hover">
      <tr>
        <td>Scheduled Start</td>
        <td>
          <%= load.destination['scheduledStart'] %>
        </td>
      </tr>
      <tr>
        <td>Street</td>
        <td>
          <%= load.destination['street1'] %>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <%= load.destination['city'] %>
        </td>
      </tr>
      <tr>
        <td>State</td>
        <td>
          <%= load.destination['state'] %>
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td>
          <%= load.destination['zipcode'] %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Load Images</h2>
    <%= image_tag 'load_image.jpg', class: 'col-md-12' %>
  </div>
  <div class="col-md-6">
    <h2>Load Rate</h2>

    <table class="table table-striped table-hover">
      <tr>
        <td>Broker</td>
        <td>
          <%= load.broker_o.name %>
        </td>
      </tr>
      <tr>
        <td>Carrier</td>
        <td>
          <%= load.carrier_o.name %>
        </td>
      </tr>
      <tr>
        <td>Shipper</td>
        <td>
          <%= load.shipper_o.name %>
        </td>
      </tr>
    </table>
  </div>
</div>
